body {
  min-height: 100vh;
  margin: 0 0;
}
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Indie+Flower&display=swap");

:root {
  --FuenteTextos: "Dancing Script", cursive;
  --fuenteMensjae: "Indie Flower", cursive;
  --color--titulos: #32a752;
  --color--textos: #1d2523;
}

html {
  font-size: 14px;
}
.App {
  position: relative;
  min-height: 100vh;
}
.heads {
  backdrop-filter: blur(40px);
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
  width: 100%;
  color: "#fff";
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  text-align: center;
}
.cont_contenido {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 85%;
  margin: auto;
  flex-wrap: wrap;
}
.contenido {
  width: 100%;
  height: 100%;
}
.contenido p {
  background: filter(brigthness(5%));
  color: #ffffff;
  font-family: var(--fuenteMensjae);
  font-size: 20px;
}
.titlenote {
  font-size: 18px;
  margin: 0;
  background-color: #62a845;
  text-align: center;
  padding: 10px;
}
.titlenote p {
  font-weight: bold;
  color: #052a42;
}
.btn-crear {
  background-image: linear-gradient(
    to right,
    #4cb8c4 0%,
    #3cd3ad 51%,
    #4cb8c4 100%
  );

  padding: 8px 30px;
  border-radius: 15px;
  outline: none;
  color: #ffff;
  font-weight: bold;
  font-size: 20px;
  border-style: none;
  transition: 0.5s;
}

.btn-crear:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.color {
  background-color: red;
  padding: 15px 50px;
  border-radius: 8px;
  border-style: none;
  color: #ffff;
  font-size: 18px;
  margin-top: 20px;
}
button {
  cursor: pointer;
}
.cont-btn {
  align-items: center;
  margin-left: 15px;
  text-align: center;
}
.cont-btn i {
  font-size: 30px;
}
.cont-modal {
  /*background-color: #fff;*/
  display: flex;
  align-items: center;
  border-radius: 15px;
  flex-direction: column;
  min-width: 150px;
  width: 250px;
  min-height: 400px;
  position: relative;
}
.cont-modal p {
  font-family: var(--FuenteTextos);
  font-size: 20px;
  color: #000;
  margin: 15px 0;
  animation: 2s infinite linear alternate;
  animation-name: colorcambiar;
}
@keyframes colorcambiar {
  0% {
    color: #000201;
  }
  100% {
    color: #593403;
  }
}
.cont-modal > * {
  margin: 0;
}
.titulo-modal {
  text-align: center;
  width: 100%;
  margin: 8px 0;
}
.position-modal {
  z-index: 99999;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
}
.back-modal {
  position: absolute;
  z-index: -15;
}
.back-modal img {
  border-radius: 15px;
  width: 280px;
  min-height: 470px;
}
.titulo-modal p {
  font-size: 25px;
  font-family: var(--FuenteTextos);
}
input,
textarea {
  border-radius: 5px;
  outline: none;
  border-style: none;
  color: var(--color--textos);
  font-size: var(--FuenteTextos);
  font-family: var(--fuenteMensjae);
}
input {
  min-width: 200px;
  max-width: 800px;
}
.back-fondo {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -150;
}

.back-fondo img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.Notas {
  border-radius: 8px;
  border: 1px solid #051629;
  margin: 10px auto;
  text-align: center;
  overflow: hidden;
  position: relative;
  min-height: 100px;
  max-height: 400px;
  min-width: 170px;
  max-width: 300px;
  backdrop-filter: blur(4px);
}
.back-contenido {
  object-fit: cover;

  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -15;
}
.back-contenido img {
  object-fit: fill;
  width: 100%;
  height: 100%;
}
.mensaje {
  font-family: var(--FuenteTextos);
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  background-color: #000000;
  padding: 25px 12px;
}
.mensaje p {
  color: #ffff;
  margin: 0;
}
.contenido p {
}
